form,
.toggle:before,
.toggle:after {
    background: rgb(230, 230, 230);
}

form,
.toggle {
    position: relative;
    background: none;
}

.curtain,
.sr,
.toggle:before,
.toggle:after {
    position: absolute;
}

.curtain,
.toggle:before,
.toggle:after {
    transition: transform var(--dur);
}

.sr,
.toggle {
    overflow: hidden;
}

.sr {
    clip: rect(1px, 1px, 1px, 1px);
    color: transparent;
    width: 1px;
    height: 1px;
}

.toggle {
    background: rgb(97, 97, 97);
    border-radius: 0.75em;
    cursor: pointer;
    width: 3em;
    height: 1.5em;
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.toggle:before,
.toggle:after {
    border-radius: 50%;
    content: "";
    display: block;
    top: 0.25em;
    left: 0.25em;
    width: 1em;
    height: 1em;
}

.toggle:before {
    transform: translateX(-1.5em);
}

.toggle:checked:before {
    transform: translateX(1.5em);
}

.toggle:checked:after {
    transform: translateX(3em);
}

.toggle:checked~.curtain {
    transform: scaleX(1);
}

.toggle:focus {
    outline: transparent;
}